:root {
    --primery-color: #f0f2f5;
    --secondary-color: #fffff;
    --tertiary-collor: #f0f2f5;
    --blue-color: #2185d0;
    --red-color: #d01919;
    --green-color: #21ba45;
}
* {
    font-family: 'Roboto', sans-serif;
}
body, html {
    width: 100vw;
    height: 100vh;
    min-width: 700px;
    background-color: var(--primery-color);
    overflow: auto;
}

/* FONTS */
.font-medium {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}
/* BUTTONS */
.btn {
    border-radius: 5px;
    border: none;
}
.btn-blue {
    color: #fff;
    background-color: var(--blue-color);
}
.btn-red {
    color: #fff;
    background-color: var(--red-color);
}
.btn-green {
    color: #fff;
    background-color: var(--green-color);
}

/* INPUTS */
.checkbox-rounded {
    position: relative;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #868686;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-rounded:checked {
    background-color: var(--green-color);
}

/* LINK */
a {
    text-decoration: none;
}

a:visited {
    color: rgba(0, 0, 0, 0.36);
}

/* ALERTS */


/*HEADER - MENU*/
header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar div {
    flex: 1;
}

.menu-esquerda {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.menu-esquerda img {
    width: 50px;
    height: 50px;
}

.menu-esquerda li {
    margin-right: 10px;
}

.menu-direita {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-direita input {
    font-family: 'FontAwesome', 'Roboto', sans-serif;
    width: 150px;
    height: 30px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-direita button {
    width: 80px;
    height: 42px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}

/* MAIN-CONTENT */
 .main-content {
     width: 90%;
     height: 85vh;
     position: relative;
     top: 70px;
     margin: 10px auto;
     padding: 20px;
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     border-radius: 5px;
     border: none;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: auto;
 }

/*RESPONSIVO */
@media only screen and (max-width: 425px) {
/*HEADER - MENU*/
header {
    height: 100px;
}

.navbar div {
    flex: 1;
}

.menu-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.menu-esquerda img {
    width: 50px;
    height: 50px;
}

.menu-esquerda li {
    margin-right: 10px;
}

.menu-direita {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-direita input {
    font-family: 'FontAwesome', 'Roboto', sans-serif;
    width: 150px;
    height: 30px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-direita button {
    width: 80px;
    height: 42px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}
  }
