:root {
    --blue-color: #2185d0;
    --red-color: #d01919;
    --green-color: #21ba45;
}

* {
    font-family: 'Roboto', sans-serif;
}
/* FONTS */
.font-medium {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}
/* BUTTONS */
.btn {
    border-radius: 5px;
    border: none;
}
.btn-blue {
    color: #fff;
    background-color: var(--blue-color);
}
.btn-red {
    color: #fff;
    background-color: var(--red-color);
}
.btn-green {
    color: #fff;
    background-color: var(--green-color);
}

/* INPUTS */
.checkbox-rounded {
    position: relative;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #868686;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-rounded:checked {
    background-color: var(--green-color);
}

