.table-missions {
    width: 95%;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom:  10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
}

.table-missions thead {
    border-bottom: 1px solid #c3c3c3;
}

.table-missions thead,
.table-missions tbody {
    width: 100%;
}

.table-missions thead tr,
.table-missions tbody tr {
    display: flex;
    align-items: center;
}

.table-missions thead tr {
    margin-bottom: 10px;
}

.table-missions tbody tr {
    margin-top: 10px;
}

.table-missions thead tr th,
.table-missions tbody tr th {
    flex: 1;
}

.table-missions tbody tr th {
    font-weight: 400;
}

.tipo-missao {
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 50%;
    padding: 5px;
    margin: 0 auto;
}

.oficial {
    background-color: var(--green-color);
}
.treinamento {
    background-color: var(--red-color);
}
.fun {
    background-color: var(--blue-color);
}

.description {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
    padding: 10px;
    margin-right: 30px;
    align-self: flex-end;
}
