.table-missions {
    width: 95%;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom:  10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
}

.table-missions thead {
    border-bottom: 1px solid #c3c3c3;
}

.table-missions thead,
.table-missions tbody {
    width: 100%;
}

.table-missions thead tr,
.table-missions tbody tr {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.table-missions thead tr th,
.table-missions tbody tr th {
    flex: 1;
}

