.form-wrap {
    width: 45vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-wrap form {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.20);
}

.form-wrap form .two-inputs {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.form-wrap form .two-inputs input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
}

.form-wrap form .two-inputs input::placeholder {
    color: #808080;
}

.form-wrap button {
    color: white;
    width: 80%;
    height: 50px;
}

.form-wrap form .checkbox-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.form-wrap form .checkbox-wrap input {
    margin-right: 10px;
}

.alert-danger {
    position: absolute;
    bottom: 105px;
    color: red;
}



